# Pour le moment on ignore tous les fichiers de DDEV, il faudra versionner le module
/project/.editorconfig
/project/.gitattributes
/project/.ddev/
/project/recipes/
/project/vendor/
/project/web/

# Ignore PHPStorm Project files
.idea
